#header {
    display: flex;
    align-items: center;
    height: 80px;
    background: $dark-gray;
    padding: 0 101px;

    a {
        display: flex;
        align-items: center;
        color: #Fff
    }

    img {
        height: 70px;
        width: 70px;
    }

    h1 {
        font-size: 28px;
        font-weight: 300;
        margin-left: 10px;
    }
}
